<li class="article">
    <div class="title">
        <b>{{this.title}}</b>
        <p>{{this.date}}</p>
    </div>
    <img class="thumbnail" src={{this.img}}>
    <div class="summary">{{this.summary}}<br><br><a href={{this.link}} target="blank">Full Story</b></a></div>
    <div class="interact">
        <form action="/articles/:id" method="POST">
            <button class="save" type="submit">Save</button>
        </form>
        <button type="submit">Comment</button>
    </div>
</li>